body {
  margin: 0;
  font-family: Orator Std;
}

header {
  min-height: 100px;
}

nav .navbar-logo {
  max-width: 2rem !important;
}

div .nav-item:hover {
  background-color: #f4f4f4;
}

div .nav-item {
  margin-top: 30px;
  min-height: 30px !important;
}

form .inherit-line-height {
  line-height: inherit;
}

div.input-field input.search-input {
  margin: 0 0 0 0;
}

li .large-input {
  width: 80% !important;
}

i.search-icon {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button.btn-unset-style {
  all: unset;
  cursor: pointer;
}

button.btn-unset-style:focus,
button.btn-unset-style:hover {
  background-color: #f4f4f4;
}

.no-margin {
  margin: 0 0 0 0;
}

div.card-content.no-padding-bottom {
  padding-bottom: 0px;
}

img.market-table-coin-image {
  width: 25px;
  vertical-align: middle;
}

i.favorite-star {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.for-more-padding-in-table {
  padding-left: 15px;
}

/* pagination */
ul.pagination li.active {
  background-color: black;
}

ul.collapsible li div.group-category {
  background-color: black;
  color: white;
  cursor: pointer;
}

ul.collapsible li div.collapsible-body.padding-1rem {
  padding: 1rem;
}

.no-padding {
  padding: 0px;
}

div.display-block {
  display: block;
}
